
<html>

<head>

<h2 style="color:red;text-align:center;font-size:300%">Eagle Financial Services</h2>

</head>

<body>

<p align="center">
<img src="https://d13yacurqjgara.cloudfront.net/users/56326/screenshots/2345147/eagle_by_simc_800x600_1x.png"
alt="Eagle logo" height="250" width="250" align="middle">
</p>


<h3 style="color:blue;text-align:center;">Your Midwest Financial Services Partner</h3>
<h4 style="color:grey;text-align:center;font-size:150%">Financila Advisor Portfolio Planner</h4>
<div style="text-align:center;">

<?php
if(isset($_POST['redirect'])){
    header('Location: '.$_POST['link']);
    exit;
}
?>

<form action="" method="post">
<select name="link">
  <option value="http://msd-srikanthkola.rhcloud.com/eagle/">Select an option</option>
  <option value="http://msd-srikanthkola.rhcloud.com/eagle/customers">Add new customer</option>
  <option value="http://msd-srikanthkola.rhcloud.com/eagle/customers">Modify customer</option>
  <option value="http://msd-srikanthkola.rhcloud.com/eagle/stocks">Modify current stocks</option>
  <option value="http://msd-srikanthkola.rhcloud.com/eagle/investments">Modify Non-stock investments</option>
</select>
<input  type="submit" name="redirect" value="GO"/>
</form>

</div>
</body>

</html>