<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta charset="utf-8">
<meta name = "format-detection" content = "telephone=no" />
<link rel="icon" href="images/favicon.ico">
<link rel="shortcut icon" href="images/favicon.ico" />
<link rel="stylesheet" href="css/stuck.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/touchTouch.css">
<script src="js/jquery.js"></script>
<script src="js/jquery-migrate-1.1.1.js"></script>
<script src="js/script.js"></script> 
<script src="js/superfish.js"></script>
<script src="js/jquery.equalheights.js"></script>
<script src="js/jquery.mobilemenu.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/tmStickUp.js"></script>
<script src="js/jquery.ui.totop.js"></script>
<script src="js/touchTouch.jquery.js"></script>

<script>
 $(document).ready(function(){

  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});
  $('.gallery .gall_item').touchTouch();

  }); 
</script>
<!--[if lt IE 9]>
 <div style=' clear: both; text-align:center; position: relative;'>
   <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
     <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
   </a>
</div>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="css/ie.css">


<![endif]-->
</head>

<body class="page1" id="top">
<!--==============================
              header
=================================-->
<header>
<!--==============================
            Stuck menu
=================================-->
  <section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <h1>
          <a href="index.html">
            <img src="images/logo.png" alt="Logo alt">
          </a>
        </h1>  
          <div class="navigation">
            <nav>
              <ul class="sf-menu">
               
               <li><a href="https://ncacms-8210spring16t5.rhcloud.com/ncacms2/volunteers">Volunteers</a></li>
               <li><a href="https://ncacms-8210spring16t5.rhcloud.com/ncacms2/victims">Staff</a></li>
               <li><a href="https://ncacms-8210spring16t5.rhcloud.com/ncacms2/activities">Activities</a></li>
             </ul>
            </nav>        
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section> 
</header>        

<!--=====================
          Content
======================-->
<section class="content"><div class="ic">More Website Templates @ TemplateMonster.com - July 30, 2014!</div>
  <div class="container">
    <div class="row">
      <div class="grid_4">
        <div class="banner">
		  <div class="gall_block">
          <img src="images/page1_img1.jpg" alt="">
          <div class="bann_capt ">
            <div class="maxheight">
              <img src="" alt="">
              <div class="bann_title">Staff </div>
              <a href="https://ncacms-8210spring16t5.rhcloud.com/ncacms2/staffs">more</a>
            </div>
          </div>
        </div>
	   </div>
      </div>
      <div class="grid_4">
        <div class="banner">
		  <div class="gall_block">
          <div class="bann_capt  bn__1">
            <div class="maxheight">
              <img src="" alt="">
              <div class="bann_title">Volunteer</div>
              <a href="https://ncacms-8210spring16t5.rhcloud.com/ncacms2/volunteers/add">Sign Up</a>
            </div>
          </div>
          <img src="images/page1_img2.jpg" alt="">
        </div>
		</div>
      </div>
      <div class="grid_4">
        <div class="banner ">
		  <div class="gall_block">
          <img src="images/page1_img3.jpg" alt="">
          <div class="bann_capt  bn__2">
            <div class="maxheight">
              <img src="" alt="">
              <div class="bann_title">Activities</div>
              <a href="https://ncacms-8210spring16t5.rhcloud.com/ncacms2/activities">more</a>
            </div>
          </div>
		  </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="block1">
          <div class="count">2011</div>
          Best Service Award 
          <br>
          <a href="#" class="btn"></a>
        </div>
      </div>
      <div class="grid_4">
        <div class="block1">
          <div class="count">2013</div>
          Best Service Award 
          <br>
          <a href="#" class="btn"></a>
        </div>
      </div>
      <div class="grid_4">
        <div class="block1">
          <div class="count">2015</div>
          Best Service Award 
          <br>
          <a href="#" class="btn"></a>
        </div>        
      </div>
      <div class="grid_12">
        <div class="box">
          <div class="row">
            
      <div class="grid_4">
        <h2>Testimonials</h2>
        <blockquote class="bq1">
          <img src="images/page1_img7.jpg" alt="" class="img_inner fleft noresize">
          <div class="extra_wrapper">
            <div class="bq_title color1">Mark Wood</div>
            I loved Volunteering at NCA
            <a href="#"><span class="fa fa-chevron-right"></span></a>
          </div>
        </blockquote>
      </div>
      <div class="grid_4">
        <h2>What’s new</h2>
        <div class="block2">
          <time datetime="2014-01-01">11<br>June</time>
          <div class="extra_wrapper">
            <div class="text1"><a href="#">Rehab Tips at UNO </a></div>Sessions from experts on Rehab.
          </div>
        </div>
        <div class="block2">
          <time datetime="2014-01-01">15<br>APR</time>
          <div class="extra_wrapper">
            <div class="text1"><a href="#">Lunch & Learn </a></div>Topic for Lunch and Learn Session is community involvement.
          </div>
        </div>
      </div>
      <div class="grid_4">
        <h2>Office Hours</h2>
        <ul class="shed">
          <li><span>Mon - Wed:</span> 8AM - 5PM</li>
          <li><span>Wed - Fri:</span> 8AM - 3PM</li>
          <li><span>Sat:</span> 10AM - 1PM</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12">  
        <div class="socials">
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-google-plus"></a>
          <a href="#" class="fa fa-pinterest"></a>
        </div>
        <div class="copyright"><span class="brand">Bliss </span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a> <div>Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a></div>
        </div>
      </div>
    </div>
  </div> 
</footer> 
</body>
</html>

